/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Global Variables */
:root {
  --color-dark-blue: #252d37;
  --color-very-dark-blue: #121417;
  --color-light-grey: #959eac;
  --color-grey: #7c8798;
  --color-orange: #fb7413;
  --color-white: #ffffff;
  --color-gradient: linear-gradient(to top, #171d26, #232a34);

  --font-stack: "Overpass", Arial, Helvetica, sans-serif;
  --font-size-title: 24px;
  --font-size-paragraph: 15px;
  --font-size-button: 16px;
}

/* CSS Global box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Reset */
body,
h1,
p {
  margin: unset;
}

body {
  background-color: var(--color-very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-stack);
  padding: 32px;
}

.card,
.card-ty {
  display: flex;
  flex-direction: column;
  background: var(--color-gradient);
  width: 100%;
  border-radius: 32px;
  color: var(--color-white);
  padding: 24px;
}

.card-ty {
  justify-content: center;
  align-items: center;
  display: none;
}

.summary {
  margin-top: 24px;
  font-size: var(--font-size-paragraph);
  color: var(--color-light-orange);
  background-color: var(--color-dark-blue);
  border-radius: 16px;
  padding: 8px 16px 8px 16px;
}

.card-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-dark-blue);
  border-radius: 50%;
}

.card-stars:hover {
  background-color: var(--color-white);
  cursor: pointer;
}

.title {
  font-size: var(--font-size-title);
  font-weight: 700;
  margin-top: 24px;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--color-light-grey);
  margin-top: 24px;
}

.rating-container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-rating {
  cursor: pointer;
  font-family: var(--font-stack);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
}

button.active {
  background-color: var(--color-orange);
  color: var(--color-very-dark-blue);
}

.button-rating:hover {
  background-color: var(--color-white);
  color: var(--color-very-dark-blue);
}

.button-submit {
  cursor: pointer;
  margin-top: 24px;
  font-family: var(--font-stack);
  font-size: var(--font-size-button);
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 32px;
  background-color: var(--color-orange);
  color: var(--color-very-dark-blue);
}

.button-submit:hover {
  background-color: var(--color-white);
  color: var(--color-very-dark-blue);
}

@media screen and (min-width: 480px) {
  .card,
  .card-ty {
    width: 400px;
  }
}
